/*
font-family: "Open Sans", sans-serif;
font-family: "Noto Sans KR", sans-serif;
*/


:root{
    --cw:1320px;
    --lh:24px;
    --bc:#ffffff;
    --mc:#F26A4B;
    --sc:#F7A693;
    --tc:#333333;
    --hc:#999999;
    --font-w-l:300;
    --font-w-r:400;
    --font-w-m:500;
}

.container{
    width: var(--cw);
    margin: 0 auto;
}
.flex{
    display: flex;
    flex-flow: row nowrap;
}

body{
    font-family: "Open Sans", sans-serif;
    line-height: var(--lh);
    color: var(--tc);
}
.section_tt{
    font-family: "Noto Sans KR", sans-serif;
    font-weight: var(--font-w-r);
    line-height: 52px;
    font-size: 48px;
}
.section_desc{
    font-size: 16px;
    line-height: 26px;
    font-weight: var(--font-w-l);
}

