@import url('reset.css');
@import url('common.css');
/* youngtae */


header {
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

header>div {
    height: calc(var(--lh) * 3);
    justify-content: space-between;
    position: relative;
    /*logo의 기준*/
}

header .choose_lang {
    align-items: center;
    gap: 12px;
}

header .choose_lang li {}

header .choose_lang li a {}

header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header .logo a {}

header .user_utils {
    align-items: center;
    gap: 10px;
}

header .user_utils a {}

header .user_utils a svg {
    margin-left: 5px;
}

.video_banner {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 100;
    /*header의 영역보다 아래에 위치하게*/
}

.video_banner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 임시 클래스 */

.sub_menu {
    display: none;
}













/* //youngtae */


/* jinuk */

/* news */
.news {
    position: relative
}

.news ul {
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
}

.news ul li {
    line-height: var(--lh);
    font-size: 20px;
    font-weight: var(--font-w-l);
    font-family: "Noto Sans KR", sans-serif;
    width: 427px;
    height: 390px;
}

.news .more_link {
    position: absolute;
    right: 0;
    top: 52px;
    font-weight: var(--font-w-l);
    line-height: var(--lh);
    transition: .3s;
}

.news .more_link:hover {
    color: var(--mc);
}

/* //news */

/* careers */
.careers{
    margin-top: 130px;
}
.careers > div p{
    margin-bottom: 27px;
}
.stories > div {
    display: none;
    background-repeat:no-repeat ;
    background-position: 50% 0;
    background-size:cover;
    
}
.story_wrapper .active{
    display: block;
    height: 900px;
}
#story1{
    background-image: url(../images/carrer_modalleft.png) ;
}
#story2{
    background-image: url(../images/carrer_modalmiddle.png) ;
}

#story3{
    background-image: url(../images/carrer_modalright.png) ;
}

.carrersnav{
    margin-left: 412px;
    padding-top:51px;
}
.carrersnav .play{
    width: 160px;
    height: 60px;
    border:1px solid #FFFFFF;
    border-radius: 50px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 20px;
    transition:.3s;
}
.careers .play:hover{
    color: var(--mc);
    border-color: var(--mc);
}
.careers_tt{
    width: 700px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 32px;
    font-weight: var(--font-w-r);
    line-height: 39px;
    color: #FFFFFF;
}

.carrers_desc{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: var(--font-w-l);
    color: #FFFFFF;
    line-height: var(--lh);
}
.careers .story_wrapper{
    position: relative;
}
.careers .controls button{
    font-size: 27px;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    color: #FFFFFF;
    position: absolute;
    transition: .3s;
}
.careers .controls button:hover{
    color: var(--mc);
}
.careers .controls .left{
    margin-left:-635px;
}
.careers .controls .right{
    margin-left: 635px;
}
.story_thumbs{
    margin-top: -119px;
    justify-content: center;
    align-items: center;
    gap: 20px   ;
    position: relative;
}
.story_thumbs li{
    overflow:hidden;
    border-radius: 30px;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.25);
}
.story_thumbs a{
    display: block;
}
.story_thumbs img{
    width: 100%;
}
#videomodal{
    display: none;
}
#videomodal.active{
    display: block;
}
/* recruitment */

.recruitment {
    justify-content: center;
    align-items: center;
    height: 312px;
    position: relative;
    margin-top: 52px;
    background-image:url(../images/recruitment.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .recruitment .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: none;
    margin-top: 0;
  }
  
  
  .recruitment_tt {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 32px;
    line-height: 40px;
    font-weight: var(--font-w-l);
  }
  
  .recruitment_desc {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    line-height: var(--lh);
    font-weight: var(--font-w-l);
  }
  
  .recruitment .content a {
    font-family: "Noto Sans KR", sans-serif;
    margin-top: 52px;
    font-size: 16px;
    font-weight: var(--font-w-r);
    border: 1px solid;
    box-sizing: border-box;
    padding: 16px 50px;
    border-radius: 50px;
    transition: 0.3s;
  }
  
  .recruitment .content a:hover {
    color: var(--mc);
  }
  
  /*  //recruitment */

  /* top 버튼 */
  .top {
    position: fixed;
    bottom: 40px;
    right: 40px;
  }
  
  .top button {
    width: 48px;
    height: 48px;
    background: #fff;
    border: 1px solid var(--hc);
    border-radius: 8px;
    font-size: 18px;
    transition:  0.3s;
  }
  .top button:hover {
    background-color: var(--mc);  
    color: var(--bc);
    border-color: var(--mc);
  }
  /* //top */

  /* fotter */
  footer{
    height: 130px;
    display: flex;
    align-items: center;
  }

  footer .footer_section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  footer ul{
    font-family: "Noto Sans KR", sans-serif;
    margin-top: var(--lh);
    gap:16px;
    font-weight: bold;
    line-height: var(--lh);
    font-size: 14px;
  }
  footer p {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    font-weight: var(--font-w-l);
    color: var(--hc);
    line-height: var(--lh);
  }

  footer .brandslogo{
    display: flex;
    gap: 16px;
  }
  
footer .brand_hover{
    /* display: none; */
}

.brandslogo img{
    width: 32px;
    height: 32px;
}

